.img_champs .contains {

    display: flex;
    flex-wrap: wrap;

}

.img {

    position: relative;
    height: 300px;
    width: 300px;
    margin: 10px;

}

.img_carousel_sell {

    width: 100%;
    height: 100%;
    display: block;

    object-fit: cover;
    object-position: center;

    position: relative;

}

.deleteImg {

    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    cursor: pointer;
    background-color: black;
    color: white;
    z-index: 1;
    
}

.apercu_prestige_img {

    width: fit-content;
    height: fit-content;
    display: block;

}

.apercu_prestige_img img {

    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;

}